# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
eco_system/main.py
eco_system/single_test.py
eco_system/engines/corpora_extension.py
eco_system/engines/data/__init__.py
eco_system/engines/data/corpora-olipy/README
eco_system/engines/data/corpora-olipy/games/bgg_board_games.json
eco_system/engines/data/corpora-olipy/geography/large_cities.json
eco_system/engines/data/corpora-olipy/geography/us_states.json
eco_system/engines/data/corpora-olipy/language/languages.json
eco_system/engines/data/corpora-olipy/language/unicode_code_sheets.json
eco_system/engines/data/corpora-olipy/science/minor_planet_details.json
eco_system/engines/data/corpora-olipy/words/adjectives.json
eco_system/engines/data/corpora-olipy/words/common_nouns.json
eco_system/engines/data/corpora-olipy/words/common_verbs.json
eco_system/engines/data/corpora-olipy/words/common_words.json
eco_system/engines/data/corpora-olipy/words/english_words.json
eco_system/engines/data/corpora-olipy/words/scribblenauts.json
eco_system/engines/data/corpora-olipy/words/literature/gutenberg_id_mapping.json
eco_system/engines/data/corpora-olipy/words/literature/fiction/pride_and_prejudice.json
eco_system/engines/data/corpora-olipy/words/literature/nonfiction/apollo_11.json
eco_system/engines/data/corpora-olipy/words/literature/nonfiction/literary_shrines.json
eco_system/engines/data/corpora-original/data/animals/ant_anatomy.json
eco_system/engines/data/corpora-original/data/animals/birds_antarctica.json
eco_system/engines/data/corpora-original/data/animals/birds_north_america.json
eco_system/engines/data/corpora-original/data/animals/cats.json
eco_system/engines/data/corpora-original/data/animals/cephalopod_anatomy.json
eco_system/engines/data/corpora-original/data/animals/collateral_adjectives.json
eco_system/engines/data/corpora-original/data/animals/common.json
eco_system/engines/data/corpora-original/data/animals/dinosaurs.json
eco_system/engines/data/corpora-original/data/animals/dog_names.json
eco_system/engines/data/corpora-original/data/animals/dogs.json
eco_system/engines/data/corpora-original/data/animals/donkeys.json
eco_system/engines/data/corpora-original/data/animals/horses.json
eco_system/engines/data/corpora-original/data/animals/ponies.json
eco_system/engines/data/corpora-original/data/animals/rabbits.json
eco_system/engines/data/corpora-original/data/archetypes/artifact.json
eco_system/engines/data/corpora-original/data/archetypes/character.json
eco_system/engines/data/corpora-original/data/archetypes/event.json
eco_system/engines/data/corpora-original/data/archetypes/setting.json
eco_system/engines/data/corpora-original/data/architecture/passages.json
eco_system/engines/data/corpora-original/data/architecture/rooms.json
eco_system/engines/data/corpora-original/data/art/isms.json
eco_system/engines/data/corpora-original/data/books/academic_subjects.json
eco_system/engines/data/corpora-original/data/books/bestsellers.json
eco_system/engines/data/corpora-original/data/colors/crayola.json
eco_system/engines/data/corpora-original/data/colors/dulux.json
eco_system/engines/data/corpora-original/data/colors/google_material_colors.json
eco_system/engines/data/corpora-original/data/colors/paints.json
eco_system/engines/data/corpora-original/data/colors/palettes.json
eco_system/engines/data/corpora-original/data/colors/web_colors.json
eco_system/engines/data/corpora-original/data/colors/wikipedia.json
eco_system/engines/data/corpora-original/data/colors/xkcd.json
eco_system/engines/data/corpora-original/data/corporations/cars.json
eco_system/engines/data/corpora-original/data/corporations/charities.json
eco_system/engines/data/corpora-original/data/corporations/djia.json
eco_system/engines/data/corpora-original/data/corporations/fortune500.json
eco_system/engines/data/corpora-original/data/corporations/industries.json
eco_system/engines/data/corpora-original/data/corporations/nasdaq.json
eco_system/engines/data/corpora-original/data/corporations/newspapers.json
eco_system/engines/data/corpora-original/data/divination/tarot_interpretations.json
eco_system/engines/data/corpora-original/data/divination/zodiac.json
eco_system/engines/data/corpora-original/data/film-tv/game-of-thrones-houses.json
eco_system/engines/data/corpora-original/data/film-tv/iab_categories.json
eco_system/engines/data/corpora-original/data/film-tv/look-around-you-shakespeare.json
eco_system/engines/data/corpora-original/data/film-tv/netflix-categories.json
eco_system/engines/data/corpora-original/data/film-tv/popular-movies.json
eco_system/engines/data/corpora-original/data/film-tv/tv_shows.json
eco_system/engines/data/corpora-original/data/film-tv/Westworld_quotes.json
eco_system/engines/data/corpora-original/data/foods/apple_cultivars.json
eco_system/engines/data/corpora-original/data/foods/bad_beers.json
eco_system/engines/data/corpora-original/data/foods/beer_categories.json
eco_system/engines/data/corpora-original/data/foods/beer_styles.json
eco_system/engines/data/corpora-original/data/foods/breads_and_pastries.json
eco_system/engines/data/corpora-original/data/foods/combine.json
eco_system/engines/data/corpora-original/data/foods/condiments.json
eco_system/engines/data/corpora-original/data/foods/curds.json
eco_system/engines/data/corpora-original/data/foods/fruits.json
eco_system/engines/data/corpora-original/data/foods/herbs_n_spices.json
eco_system/engines/data/corpora-original/data/foods/hot_peppers.json
eco_system/engines/data/corpora-original/data/foods/iba_cocktails.json
eco_system/engines/data/corpora-original/data/foods/menuItems.json
eco_system/engines/data/corpora-original/data/foods/pizzaToppings.json
eco_system/engines/data/corpora-original/data/foods/sandwiches.json
eco_system/engines/data/corpora-original/data/foods/sausages.json
eco_system/engines/data/corpora-original/data/foods/scotch_whiskey.json
eco_system/engines/data/corpora-original/data/foods/tea.json
eco_system/engines/data/corpora-original/data/foods/vegetable_cooking_times.json
eco_system/engines/data/corpora-original/data/foods/vegetables.json
eco_system/engines/data/corpora-original/data/foods/wine_descriptions.json
eco_system/engines/data/corpora-original/data/games/board_games.json
eco_system/engines/data/corpora-original/data/games/cluedo.json
eco_system/engines/data/corpora-original/data/games/dark_souls_iii_messages.json
eco_system/engines/data/corpora-original/data/games/jeopardy_questions.json
eco_system/engines/data/corpora-original/data/games/pokemon.json
eco_system/engines/data/corpora-original/data/games/scrabble.json
eco_system/engines/data/corpora-original/data/games/street_fighter_ii.json
eco_system/engines/data/corpora-original/data/games/trivial_pursuit.json
eco_system/engines/data/corpora-original/data/games/wrestling_moves.json
eco_system/engines/data/corpora-original/data/games/zelda.json
eco_system/engines/data/corpora-original/data/games/bannedGames/argentina/bannedList.json
eco_system/engines/data/corpora-original/data/games/bannedGames/brazil/bannedList.json
eco_system/engines/data/corpora-original/data/games/bannedGames/china/bannedList.json
eco_system/engines/data/corpora-original/data/games/bannedGames/denmark/bannedList.json
eco_system/engines/data/corpora-original/data/games/rpg/rpg_designers.json
eco_system/engines/data/corpora-original/data/games/rpg/rpg_games.json
eco_system/engines/data/corpora-original/data/games/rpg/rpg_settings.json
eco_system/engines/data/corpora-original/data/geography/anthropogenic_features.json
eco_system/engines/data/corpora-original/data/geography/canada_provinces_and_territories.json
eco_system/engines/data/corpora-original/data/geography/canadian_municipalities.json
eco_system/engines/data/corpora-original/data/geography/countries_with_capitals.json
eco_system/engines/data/corpora-original/data/geography/countries.json
eco_system/engines/data/corpora-original/data/geography/english_towns_cities.json
eco_system/engines/data/corpora-original/data/geography/environmental_hazards.json
eco_system/engines/data/corpora-original/data/geography/geographic_features.json
eco_system/engines/data/corpora-original/data/geography/japanese_prefectures.json
eco_system/engines/data/corpora-original/data/geography/london_underground_stations.json
eco_system/engines/data/corpora-original/data/geography/nationalities.json
eco_system/engines/data/corpora-original/data/geography/norwegian_cities.json
eco_system/engines/data/corpora-original/data/geography/nyc_neighborhood_zips.json
eco_system/engines/data/corpora-original/data/geography/oceans.json
eco_system/engines/data/corpora-original/data/geography/rivers.json
eco_system/engines/data/corpora-original/data/geography/sf_neighborhoods.json
eco_system/engines/data/corpora-original/data/geography/us_airport_codes.json
eco_system/engines/data/corpora-original/data/geography/us_cities.json
eco_system/engines/data/corpora-original/data/geography/us_counties.json
eco_system/engines/data/corpora-original/data/geography/us_metropolitan_areas.json
eco_system/engines/data/corpora-original/data/geography/us_state_capitals.json
eco_system/engines/data/corpora-original/data/geography/venues.json
eco_system/engines/data/corpora-original/data/geography/winds.json
eco_system/engines/data/corpora-original/data/governments/mass-surveillance-project-names.json
eco_system/engines/data/corpora-original/data/governments/nsa_projects.json
eco_system/engines/data/corpora-original/data/governments/uk_political_parties.json
eco_system/engines/data/corpora-original/data/governments/us_federal_agencies.json
eco_system/engines/data/corpora-original/data/governments/us_mil_operations.json
eco_system/engines/data/corpora-original/data/humans/2016_us_presidential_candidates.json
eco_system/engines/data/corpora-original/data/humans/atus_activities.json
eco_system/engines/data/corpora-original/data/humans/authors.json
eco_system/engines/data/corpora-original/data/humans/bodyParts.json
eco_system/engines/data/corpora-original/data/humans/britishActors.json
eco_system/engines/data/corpora-original/data/humans/celebrities.json
eco_system/engines/data/corpora-original/data/humans/descriptions.json
eco_system/engines/data/corpora-original/data/humans/englishHonorifics.json
eco_system/engines/data/corpora-original/data/humans/famousDuos.json
eco_system/engines/data/corpora-original/data/humans/firstNames.json
eco_system/engines/data/corpora-original/data/humans/lastNames.json
eco_system/engines/data/corpora-original/data/humans/moods.json
eco_system/engines/data/corpora-original/data/humans/norwayFirstNamesBoys.json
eco_system/engines/data/corpora-original/data/humans/norwayFirstNamesGirls.json
eco_system/engines/data/corpora-original/data/humans/norwayLastNames.json
eco_system/engines/data/corpora-original/data/humans/occupations.json
eco_system/engines/data/corpora-original/data/humans/prefixes.json
eco_system/engines/data/corpora-original/data/humans/richpeople.json
eco_system/engines/data/corpora-original/data/humans/scientists.json
eco_system/engines/data/corpora-original/data/humans/spanishFirstNames.json
eco_system/engines/data/corpora-original/data/humans/spanishLastNames.json
eco_system/engines/data/corpora-original/data/humans/spinalTapDrummers.json
eco_system/engines/data/corpora-original/data/humans/suffixes.json
eco_system/engines/data/corpora-original/data/humans/thirdPersonPronouns.json
eco_system/engines/data/corpora-original/data/humans/tolkienCharacterNames.json
eco_system/engines/data/corpora-original/data/humans/us_presidents.json
eco_system/engines/data/corpora-original/data/humans/wrestlers.json
eco_system/engines/data/corpora-original/data/instructions/laundry_care.json
eco_system/engines/data/corpora-original/data/materials/abridged-body-fluids.json
eco_system/engines/data/corpora-original/data/materials/building-materials.json
eco_system/engines/data/corpora-original/data/materials/carbon-allotropes.json
eco_system/engines/data/corpora-original/data/materials/decorative-stones.json
eco_system/engines/data/corpora-original/data/materials/fabrics.json
eco_system/engines/data/corpora-original/data/materials/fibers.json
eco_system/engines/data/corpora-original/data/materials/gemstones.json
eco_system/engines/data/corpora-original/data/materials/layperson-metals.json
eco_system/engines/data/corpora-original/data/materials/metals.json
eco_system/engines/data/corpora-original/data/materials/natural-materials.json
eco_system/engines/data/corpora-original/data/materials/packaging.json
eco_system/engines/data/corpora-original/data/materials/plastic-brands.json
eco_system/engines/data/corpora-original/data/materials/sculpture-materials.json
eco_system/engines/data/corpora-original/data/materials/technical-fabrics.json
eco_system/engines/data/corpora-original/data/mathematics/fibonnaciSequence.json
eco_system/engines/data/corpora-original/data/mathematics/primes_binary.json
eco_system/engines/data/corpora-original/data/mathematics/primes.json
eco_system/engines/data/corpora-original/data/mathematics/trigonometry.json
eco_system/engines/data/corpora-original/data/medicine/cancer.json
eco_system/engines/data/corpora-original/data/medicine/diagnoses.json
eco_system/engines/data/corpora-original/data/medicine/diseases.json
eco_system/engines/data/corpora-original/data/medicine/drugNameStems.json
eco_system/engines/data/corpora-original/data/medicine/drugs.json
eco_system/engines/data/corpora-original/data/medicine/hospitals.json
eco_system/engines/data/corpora-original/data/medicine/infectious_diseases.json
eco_system/engines/data/corpora-original/data/medicine/symptoms.json
eco_system/engines/data/corpora-original/data/music/a_list_of_guitar_manufacturers.json
eco_system/engines/data/corpora-original/data/music/bands_that_have_opened_for_tool.json
eco_system/engines/data/corpora-original/data/music/female_classical_guitarists.json
eco_system/engines/data/corpora-original/data/music/genres.json
eco_system/engines/data/corpora-original/data/music/hamilton_musical_obcrecording_actors_characters.json
eco_system/engines/data/corpora-original/data/music/instruments.json
eco_system/engines/data/corpora-original/data/music/mtv_day_one.json
eco_system/engines/data/corpora-original/data/music/rock_hall_of_fame.json
eco_system/engines/data/corpora-original/data/music/xxl_freshman.json
eco_system/engines/data/corpora-original/data/mythology/egyptian_gods.json
eco_system/engines/data/corpora-original/data/mythology/greek_gods.json
eco_system/engines/data/corpora-original/data/mythology/greek_monsters.json
eco_system/engines/data/corpora-original/data/mythology/greek_myths_master.json
eco_system/engines/data/corpora-original/data/mythology/greek_titans.json
eco_system/engines/data/corpora-original/data/mythology/hebrew_god.json
eco_system/engines/data/corpora-original/data/mythology/lovecraft.json
eco_system/engines/data/corpora-original/data/mythology/monsters.json
eco_system/engines/data/corpora-original/data/mythology/norse_gods.json
eco_system/engines/data/corpora-original/data/mythology/roman_deities.json
eco_system/engines/data/corpora-original/data/objects/clothing.json
eco_system/engines/data/corpora-original/data/objects/corpora_winners.json
eco_system/engines/data/corpora-original/data/objects/objects.json
eco_system/engines/data/corpora-original/data/plants/cannabis.json
eco_system/engines/data/corpora-original/data/plants/flowers.json
eco_system/engines/data/corpora-original/data/plants/plants.json
eco_system/engines/data/corpora-original/data/religion/christian_saints.json
eco_system/engines/data/corpora-original/data/religion/fictional_religions.json
eco_system/engines/data/corpora-original/data/religion/parody_religions.json
eco_system/engines/data/corpora-original/data/religion/religions.json
eco_system/engines/data/corpora-original/data/science/elements.json
eco_system/engines/data/corpora-original/data/science/hail_size.json
eco_system/engines/data/corpora-original/data/science/minor_planets.json
eco_system/engines/data/corpora-original/data/science/planets.json
eco_system/engines/data/corpora-original/data/science/pregnancy.json
eco_system/engines/data/corpora-original/data/science/toxic_chemicals.json
eco_system/engines/data/corpora-original/data/science/weather_conditions.json
eco_system/engines/data/corpora-original/data/societies_and_groups/animal_welfare.json
eco_system/engines/data/corpora-original/data/societies_and_groups/semi_secret.json
eco_system/engines/data/corpora-original/data/societies_and_groups/designated_terrorist_groups/australia.json
eco_system/engines/data/corpora-original/data/societies_and_groups/designated_terrorist_groups/canada.json
eco_system/engines/data/corpora-original/data/societies_and_groups/designated_terrorist_groups/china.json
eco_system/engines/data/corpora-original/data/societies_and_groups/designated_terrorist_groups/egypt.json
eco_system/engines/data/corpora-original/data/societies_and_groups/designated_terrorist_groups/european_union.json
eco_system/engines/data/corpora-original/data/societies_and_groups/designated_terrorist_groups/india.json
eco_system/engines/data/corpora-original/data/societies_and_groups/designated_terrorist_groups/iran.json
eco_system/engines/data/corpora-original/data/societies_and_groups/designated_terrorist_groups/israel.json
eco_system/engines/data/corpora-original/data/societies_and_groups/designated_terrorist_groups/kazakhstan.json
eco_system/engines/data/corpora-original/data/societies_and_groups/designated_terrorist_groups/russia.json
eco_system/engines/data/corpora-original/data/societies_and_groups/designated_terrorist_groups/saudi_arabia.json
eco_system/engines/data/corpora-original/data/societies_and_groups/designated_terrorist_groups/tunisia.json
eco_system/engines/data/corpora-original/data/societies_and_groups/designated_terrorist_groups/turkey.json
eco_system/engines/data/corpora-original/data/societies_and_groups/designated_terrorist_groups/ukraine.json
eco_system/engines/data/corpora-original/data/societies_and_groups/designated_terrorist_groups/united_arab_emirates.json
eco_system/engines/data/corpora-original/data/societies_and_groups/designated_terrorist_groups/united_kingdom.json
eco_system/engines/data/corpora-original/data/societies_and_groups/designated_terrorist_groups/united_nations.json
eco_system/engines/data/corpora-original/data/societies_and_groups/designated_terrorist_groups/united_states.json
eco_system/engines/data/corpora-original/data/societies_and_groups/fraternities/coeducational_fraternities.json
eco_system/engines/data/corpora-original/data/societies_and_groups/fraternities/defunct.json
eco_system/engines/data/corpora-original/data/societies_and_groups/fraternities/fraternities.json
eco_system/engines/data/corpora-original/data/societies_and_groups/fraternities/professional.json
eco_system/engines/data/corpora-original/data/societies_and_groups/fraternities/service.json
eco_system/engines/data/corpora-original/data/societies_and_groups/fraternities/sororities.json
eco_system/engines/data/corpora-original/data/sports/mlb_teams.json
eco_system/engines/data/corpora-original/data/sports/nba_mvps.json
eco_system/engines/data/corpora-original/data/sports/nba_teams.json
eco_system/engines/data/corpora-original/data/sports/nfl_teams.json
eco_system/engines/data/corpora-original/data/sports/nhl_teams.json
eco_system/engines/data/corpora-original/data/sports/olympics.json
eco_system/engines/data/corpora-original/data/sports/sports.json
eco_system/engines/data/corpora-original/data/sports/football/epl_teams.json
eco_system/engines/data/corpora-original/data/sports/football/laliga_teams.json
eco_system/engines/data/corpora-original/data/sports/football/serieA.json
eco_system/engines/data/corpora-original/data/technology/appliances.json
eco_system/engines/data/corpora-original/data/technology/computer_sciences.json
eco_system/engines/data/corpora-original/data/technology/fireworks.json
eco_system/engines/data/corpora-original/data/technology/guns_n_rifles.json
eco_system/engines/data/corpora-original/data/technology/knots.json
eco_system/engines/data/corpora-original/data/technology/lisp.json
eco_system/engines/data/corpora-original/data/technology/new_technologies.json
eco_system/engines/data/corpora-original/data/technology/photo_sharing_websites.json
eco_system/engines/data/corpora-original/data/technology/programming_languages_popular.json
eco_system/engines/data/corpora-original/data/technology/programming_languages.json
eco_system/engines/data/corpora-original/data/technology/social_networking_websites.json
eco_system/engines/data/corpora-original/data/technology/video_hosting_websites.json
eco_system/engines/data/corpora-original/data/transportation/commercial-aircraft.json
eco_system/engines/data/corpora-original/data/travel/lcc.json
eco_system/engines/data/corpora-original/data/words/adjs.json
eco_system/engines/data/corpora-original/data/words/adverbs.json
eco_system/engines/data/corpora-original/data/words/closed_pairs.json
eco_system/engines/data/corpora-original/data/words/common.json
eco_system/engines/data/corpora-original/data/words/compounds.json
eco_system/engines/data/corpora-original/data/words/crash_blossoms.json
eco_system/engines/data/corpora-original/data/words/eggcorns.json
eco_system/engines/data/corpora-original/data/words/encouraging_words.json
eco_system/engines/data/corpora-original/data/words/ergative_verbs.json
eco_system/engines/data/corpora-original/data/words/expletives.json
eco_system/engines/data/corpora-original/data/words/harvard_sentences.json
eco_system/engines/data/corpora-original/data/words/infinitive_verbs.json
eco_system/engines/data/corpora-original/data/words/interjections.json
eco_system/engines/data/corpora-original/data/words/nouns.json
eco_system/engines/data/corpora-original/data/words/oprah_quotes.json
eco_system/engines/data/corpora-original/data/words/personal_nouns.json
eco_system/engines/data/corpora-original/data/words/personal_pronouns.json
eco_system/engines/data/corpora-original/data/words/possessive_pronouns.json
eco_system/engines/data/corpora-original/data/words/prefix_root_suffix.json
eco_system/engines/data/corpora-original/data/words/prepositions.json
eco_system/engines/data/corpora-original/data/words/proverbs.json
eco_system/engines/data/corpora-original/data/words/resume_action_words.json
eco_system/engines/data/corpora-original/data/words/rhymeless_words.json
eco_system/engines/data/corpora-original/data/words/spells.json
eco_system/engines/data/corpora-original/data/words/state_verbs.json
eco_system/engines/data/corpora-original/data/words/states_of_drunkenness.json
eco_system/engines/data/corpora-original/data/words/strange_words.json
eco_system/engines/data/corpora-original/data/words/units_of_time.json
eco_system/engines/data/corpora-original/data/words/us_president_quotes.json
eco_system/engines/data/corpora-original/data/words/verbs_with_conjugations.json
eco_system/engines/data/corpora-original/data/words/verbs.json
eco_system/engines/data/corpora-original/data/words/emoji/codePage437.json
eco_system/engines/data/corpora-original/data/words/emoji/cute_kaomoji.json
eco_system/engines/data/corpora-original/data/words/emoji/emoji.json
eco_system/engines/data/corpora-original/data/words/literature/infinitejest.json
eco_system/engines/data/corpora-original/data/words/literature/lovecraft_words.json
eco_system/engines/data/corpora-original/data/words/literature/mr_men_little_miss.json
eco_system/engines/data/corpora-original/data/words/literature/shakespeare_phrases.json
eco_system/engines/data/corpora-original/data/words/literature/shakespeare_sonnets.json
eco_system/engines/data/corpora-original/data/words/literature/shakespeare_words.json
eco_system/engines/data/corpora-original/data/words/literature/technology_quotes.json
eco_system/engines/data/corpora-original/data/words/stopwords/ar.json
eco_system/engines/data/corpora-original/data/words/stopwords/bg.json
eco_system/engines/data/corpora-original/data/words/stopwords/cs.json
eco_system/engines/data/corpora-original/data/words/stopwords/da.json
eco_system/engines/data/corpora-original/data/words/stopwords/de.json
eco_system/engines/data/corpora-original/data/words/stopwords/en.json
eco_system/engines/data/corpora-original/data/words/stopwords/es.json
eco_system/engines/data/corpora-original/data/words/stopwords/fi.json
eco_system/engines/data/corpora-original/data/words/stopwords/fr.json
eco_system/engines/data/corpora-original/data/words/stopwords/gr.json
eco_system/engines/data/corpora-original/data/words/stopwords/it.json
eco_system/engines/data/corpora-original/data/words/stopwords/jp.json
eco_system/engines/data/corpora-original/data/words/stopwords/lv.json
eco_system/engines/data/corpora-original/data/words/stopwords/nl.json
eco_system/engines/data/corpora-original/data/words/stopwords/no.json
eco_system/engines/data/corpora-original/data/words/stopwords/pl.json
eco_system/engines/data/corpora-original/data/words/stopwords/pt.json
eco_system/engines/data/corpora-original/data/words/stopwords/ru.json
eco_system/engines/data/corpora-original/data/words/stopwords/sk.json
eco_system/engines/data/corpora-original/data/words/stopwords/sv.json
eco_system/engines/data/corpora-original/data/words/stopwords/tr.json
eco_system/engines/data/corpora-original/data/words/word_clues/clues_five.json
eco_system/engines/data/corpora-original/data/words/word_clues/clues_four.json
eco_system/engines/data/corpora-original/data/words/word_clues/clues_six.json
eco_system/engines/data/zachary-wwdata/closed_pairs.json
eco_system/engines/data/zachary-wwdata/descriptions.json
eco_system/engines/data/zachary-wwdata/flowers.json
eco_system/engines/data/zachary-wwdata/honorifics.json
eco_system/engines/data/zachary-wwdata/moods.json
eco_system/engines/data/zachary-wwdata/moons.json
eco_system/engines/data/zachary-wwdata/occupationalnames.json
eco_system/engines/data/zachary-wwdata/passages.json
eco_system/engines/data/zachary-wwdata/restaurantsuffix.json
eco_system/engines/data/zachary-wwdata/culture/italian.json
eco_system/engines/data/zachary-wwdata/culture/mexican.json
eco_system/generators/apis.py
project/Scripts/flask.exe
project/Scripts/ia.exe
project/Scripts/jsondiff
project/Scripts/jsonpatch
project/Scripts/jsonpointer
project/Scripts/nltk.exe
project/Scripts/normalizer.exe
project/Scripts/olipy.apollo.exe
project/Scripts/olipy.board_games.exe
project/Scripts/olipy.corrupt.exe
project/Scripts/olipy.dinosaurs.exe
project/Scripts/olipy.ebooks.exe
project/Scripts/olipy.gibberish.exe
project/Scripts/olipy.mashteroids.exe
project/Scripts/olipy.sonnet.exe
project/Scripts/olipy.typewriter.exe
project/Scripts/olipy.words.exe
project/Scripts/pip.exe
project/Scripts/pip3.10.exe
project/Scripts/pip3.exe
project/Scripts/tqdm.exe
